@media only screen and (max-width: 600px) {
    #myTitle {
      font-size: 24px;
    }
  }

#myTitle {
    position: absolute;
    font-size: 48px;
    color: red;
    font-family: Helvetica, sans-serif;
    z-index: 10000;
    top: 33px;
    left: 62px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 6px solid redp ;
}

.leaflet-popup-content {
    background: #2b2d30;
    border-color: black ;
    width: 600px; /* Set popup width */
    height: 360px; /* Set popup height */
    max-height: 240px; /* Optional: Limit maximum height */
    overflow-y: auto; /* Add scrolling if content exceeds height */
    color: white;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.2;
}

.leaflet-popup-content-wrapper {
    background: #2b2d30; 
    box-shadow: 10px 14px 14px rgba (0, 0, 0, 0.4);
    border: 2px solid #000000; /* Dark gray border */
    border-radius: 0px; /* Rounded corners */
    padding: 10px;
}

.leaflet-image-layer {
    height: unset !important;
    opacity: .5;
    z-index: 999999;
    position: relative;
}

.leaflet-image-layer:hover {
    opacity: 1;
}

/* Custom Popup Styling */
.custom-popup .leaflet-popup-content-wrapper {
    background-color: #2b2d30; /* Light gray background */
    border: 2px solid #000000; /* Dark gray border */
    border-radius: 0px; /* Rounded corners */
    padding: 10px;
}

.custom-popup .leaflet-popup-tip {
    background-color: #000000;
    /* Match the border color */
}

x
/* Styling for the popup content */

.custom-popup .leaflet-popup-content-wrapper {
    width: 400px; /* Set popup width */
    height: 360px; /* Set popup height */
    max-height: 200px; /* Optional: Limit maximum height */
    overflow-y: auto; /* Add scrolling if content exceeds height */
    color: #000000;
    font-family: 'Helvetica', sans-serif;
    line-height: .8;
}


.custom-popup .leaflet-popup-content-wrapper h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;;
    unicode-bidi: isolate;
}

